img {
    width: 100%;
  }
  content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* 定义变量 */
  :root {
    --primary-color: #6cc8fd;
    --secondary-color: #e3e3e3;
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark: #494949;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69);
  }
  section,.footer-menus{
    padding: 0 40px;
  }
  section{
    display: grid;
    justify-items: center;
    max-width: 1290px;
    max-height:3000px;
    padding: 0 80 ;
  }
.about-us {
    padding-bottom: 32px;
  }
  .title1{
    justify-self: center;
    position: relative;
    font-size: 34px;
    color: var(--primary-color);
    padding-top: 50px;
  }
  h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h4 {
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  .title1::after{
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    transform: translateX(10%);
    margin-top: 14px;
    background-color: #6cc8fd;

  }
  /* 公司业务布局 */
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 126px 126px;
    column-gap: 5vw;
    align-items: center;
    padding-top: 50px;
  }
  @media (max-width: 978px){
    .features, .services {
    grid-template-columns: 1fr;
    }
    section, .footer-menus {
        padding: 0 40px;
    }
}
@media (max-width: 1000px){
    .features, .services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    }
}

  *+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 20px;
    }
    address, dl, fieldset, figure, ol, p, pre, ul {
        margin: 0 0 20px 0;
    }
    ::selection {
        background: #39f;
        color: #fff;
        text-shadow: none;
    }
  /* 业务 */
  .feature {
    display: grid;
    /* 规划栅格，图标占两行，标题和内容各占一行 */
    grid-template-areas:
      "icon title"
      "icon content";
    /* 每列的宽度，第一列60象素，第二列占满剩余空间 */
    grid-template-columns: 60px 1fr;
    /* 三行 */
    grid-template-rows: 1fr 3fr;
  }
  
  /* 图标 */
  .feature i.fas {
    grid-area: icon;
    font-size: 34px;
    color: var(--primary-color);
  }
  
  /* 标题 */
  .feature-title {
    grid-area: title;
    font-size: 21px;
    color:#fff;
  }
  
  /* 内容 */
  .feature-content {
    grid-area: content;
    color: var(--text-color-gray);
    margin-top: -16px;
  }
  .fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    
}
.fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-lightbulb:before {
    content: "\f0eb";
}
.intro {
    margin: 12px 0 60px 0;
    font-size: 18px;
    color: var(--text-color-dark-gray);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}