.icon-img img{
    height: 40px;
    width: 40px;
}

.icon-img a{
    color: rgb(4, 200, 200);
}

.top{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -8px;
    align-self: center; /* 子元素垂直居中 */
    font-size: 18px;
}
.top span{
    width: 40px;
}
.top p{
    margin: 0;
    font-size: 19px;
    font-weight: bolder;
}

.txt{
    padding: 17px;
    padding-top: 0;
    padding-bottom: 0;
}
.txt h4{
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 25px;
    font-weight: 550;
    color: #e5e5e5;
}
.txt p{
    line-height: 28px;
}

.explain{
    font-weight: 100;
}
.ps{
    margin-top: 15px;
    margin-right: 23px;
    margin-bottom: 10px;
    color: #ccc;
    text-align: right;
    margin: 0;
}
.tag {
    color: rgb(233 206 248 / 80%);
    text-align: left;
    font-size: 17px;
}