<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    {% load static %}

    <link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/gooddetail.css' %}">
    <script type="text/javascript" src="{% static 'js/gooddetail.js' %}" defer></script>
</head>

<body>
    <div class="container">

        <div class="product-image">
            <!-- <img src="{% static 'images/UAV.svg' %}" alt="小logo" class="product-logo"> -->
            <div class="back">
                <button class="btn"><a href="../store">Back To Store</a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <img src="{% static 'images/exp1.svg' %}" alt="此处放置商品图片" class="product-pic">
            <div class="dots"></div>
        </div>

        <div class="product-details">
            <header>
                <h1 class="title">产品名称</h1>
                <!-- <span class="colorCat">款式</span> -->
                <div class="price">
                    <span class="before">$15/h</span>
                    <span class="current">$14.99/h</span>
                </div>
                <div class="rate">
                    <a href="#!" onclick="setRating(1)">★</a>
                    <a href="#!" onclick="setRating(2)">★</a>
                    <a href="#!" onclick="setRating(3)">★</a>
                    <a href="#!" onclick="setRating(4)">★</a>
                    <a href="#!" onclick="setRating(5)">★</a>
                </div>
            </header>
            <article>
                <h4>参数及性能介绍</h4>
                <p>哈苏相机 | 1 英寸 CMOS 2000 万像素 | 可调光圈 | 10-bit Dlog-M 色彩模式 | 10-bit HDR 视频 | 移动延时摄影 | 8 公里 1080p 图传 | 持久续航
                </p>
                <h4>适用场景</h4>
                <p>专业摄影、影视专业</p>
            </article>
            <div class="controls">

                <div class="size">
                    <h5>Battery capacity</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1000">1000 mAh</option>
                                <option value="2000">2000 mAh</option>
                                <option value="3000">3000 mAh</option>
                                <option value="4000">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="size">
                    <h5>Battery capacity</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1000">1000 mAh</option>
                                <option value="2000">2000 mAh</option>
                                <option value="3000">3000 mAh</option>
                                <option value="4000">4000 mAh</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="size">
                    <h5>qty</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="button" id="rentNowButton">
                    <img src="{% static 'images/buy.svg' %}" alt="">
                    <span>Rent Now!</span>
                </button>
                <a href="../chat"><img src="{% static 'images/chat.svg' %}" alt=""></a>
            </div>
        </div>

    </div>

</body>

</html>