<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    {% load static %}

    <link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/gooddetail.css' %}">
    <script type="text/javascript" src="{% static 'js/gooddetail.js' %}" defer></script>
</head>

<body>
    
    <div class="container">

        <div class="product-image">
            <!-- <img src="{% static 'images/UAV.svg' %}" alt="小logo" class="product-logo"> -->
            <div class="back">
                <button class="btn"><a href="{% url 'store' %}">Back To Store</a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <img src="{% static 'images/exp1.svg' %}" alt="此处放置商品图片" class="product-pic">
            <div class="dots"></div>
        </div>

        <div class="product-details">
            <header>
                <h1 class="title">{{drone.name}}</h1>
                <!-- <span class="colorCat">款式</span> -->
                <div class="price">
                    <span class="before">￥{{drone.price_before}}</span>
                    <span class="current">￥{{drone.price_current}}</span>
                </div>
                <div class="rate">
                    <a href="#!" onclick="setRating(1)">★</a>
                    <a href="#!" onclick="setRating(2)">★</a>
                    <a href="#!" onclick="setRating(3)">★</a>
                    <a href="#!" onclick="setRating(4)">★</a>
                    <a href="#!" onclick="setRating(5)">★</a>
                </div>
            </header>
            <article>
                <h4>参数及性能介绍</h4>
                <p>{{drone.introduction}}</p>
                <h4>适用场景</h4>
                <p>{{drone.use_case}}</p>
            </article>
            <div class="controls">

                <div class="size">
                    <h5>{{drone.select_1}}</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1000">{{drone.op11}}</option>
                                <option value="2000">{{drone.op12}}</option>
                                <option value="3000">{{drone.op13}}</option>
                                <option value="4000">{{drone.op14}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="size">
                    <h5>{{drone.select_2}}</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1000">{{drone.op21}}</option>
                                <option value="2000">{{drone.op22}}</option>
                                <option value="3000">{{drone.op23}}</option>
                                <option value="4000">{{drone.op24}}</option>
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="size">
                    <h5>{{drone.select_3}}</h5>
                    <div class="custom-dropdown">
                        <div class="dropdown-content" id="batteryDropdown">
                            <select>
                                <option value="1000">{{drone.op31}}</option>
                                <option value="2000">{{drone.op32}}</option>
                                <option value="3000">{{drone.op33}}</option>
                                <option value="4000">{{drone.op34}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="button" id="rentNowButton">
                    <img src="{% static 'images/buy.svg' %}" alt="">
                    <span>Rent Now!</span>
                </button>
                <a href="../chat"><img src="{% static 'images/chat.svg' %}" alt=""></a>
            </div>
        </div>

    </div>

</body>

</html>