<title>首页</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
<!-- load static -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/rightside.css' %}" />
<!-- font_awesome -->
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">


<!-- 网页图标favicon -->
<link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container" >
  
  <header>
    <a href="../index">
      <img src="{% static 'images/logo.svg' %}"/>
    </a>
    
    <nav>
        <ul>
          <li>
            <a href="">首页</a>
          </li>
          <li>
            <a href="../store">商城</a>
          </li>
          <li id="person">
            <a href="../chat">联系客服</a>
          </li>
          <li id="person">
            <a href="../profile">个人中心</a>
          </li>
        </ul>
    </nav>
  </header>
  <main>
    <div class="mainLeft">
      <!-- <h1 class="headline">对未来世界信息的展望</h1> -->
      <!-- 霓虹字体1 -->
      <!-- {%load static %} -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/text_neon.css' %}" /> -->
      <h1 class="flux">
        <span class="left-part">宇宙万象</span>
        <span class="right-part">尽在掌握</span>
      </h1>
      <style>
        .flux {
            font-size: 80px;
            text-shadow: 0 0 3vw #05219e;
            animation: flux 2s linear infinite;
        }
        @keyframes flux {
            0%, 100% {
                text-shadow: 0 0 1vw #00BFFF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
                color: #00BFFF;
            }
            50% {
                text-shadow: 0 0 1vw #004080, 0 0 3vw #001933, 0 0 10vw #001933, 0 0 10vw #001933, 0 0 .4vw #005266, .5vw .5vw .1vw #00334D;
                color: #00BFFF; /* 更接近初始颜色的调整 */
            }
        }

        .flux {
            display: flex;
            flex-direction: column;
        }
        
        .left-part {
            align-self: flex-start;
        }

        .right-part {
            align-self: flex-end;
        }




      </style>
      <!-- /霓虹字体1 -->

      <p class="description">
        欢迎来到Drotech无人机租赁平台！在这里，我们不仅提供无人机定制租赁服务，更是一扇通往无限可能的大门。通过我们强大而多样的无人机机型，您可以轻松驾驭宇宙的万象，将飞行的魅力尽情揽入手中。
      </p>
      <!-- <button class="btn">注册</button> -->
    </div>
    <div class="mainRight">
        <img src="{% static 'images/bg.svg'%}" alt="" />
    </div>
    
  </main>
  
  
</div>

<div class="content"  style="background-color: #212121;">
  <section id="about-us" class="about-us" style="background-color: #212121;">
    <!-- 标题 -->
    <h2 class="title1">关于我们</h2>
    <!-- 补充说明区域 -->
    <p class="intro">
      专注于为客户提供高质量、安全可靠的无人机租借服务。
    </p>
    <!-- 公司业务容器，栅格布局 -->
    <div class="features">
      <!-- 公司业务 -->
      <div class="feature" data-sr-id="1" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        <!-- 左侧业务图标 -->
       <i class="fa fa-camera-retro" aria-hidden="true" /></i>
        
        <!-- 右侧业务标题 -->
        <h4 class="feature-title">航拍摄影</h4>
        <!-- 右侧业务内容 -->
        <p class="feature-content">
          我们提供高品质的航拍摄影服务，为客户获取震撼、生动的影像。
        </p>
      </div>
      <div class="feature" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        <i class="fa fa-ravelry" aria-hidden="true" /></i>
        <h4 class="feature-title">环境监测</h4>
        <p class="feature-content">
          学制定的环境监测策略以及高效的监测实施。
        </p>
      </div>
      <div class="feature" data-sr-id="4" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        <i class="fa fa-american-sign-language-interpreting" aria-hidden="true" /></i>
        <h4 class="feature-title">娱乐竞技</h4>
        <p class="feature-content">
          创办竞技比赛，设立奖金，吸引更多人关注。
        </p>
      </div>
      <div class="feature" data-sr-id="5" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        
        <i class="fa fa-stack-overflow" aria-hidden="true" /></i>
        <h4 class="feature-title">无人机表演</h4>
        <p class="feature-content">
          精湛的编程，创新、华丽的无人机编队表演，呈现出视觉盛宴。
        </p>
      </div>
      <div class="feature" data-sr-id="6" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        <i class="fa fa-slideshare" aria-hidden="true" /></i>
        <h4 class="feature-title">搜救和紧急救援</h4>
        <p class="feature-content">
          提供迅速准确的搜救服务，为紧急情况提供及时的支援和救助。
        </p>
      </div>
      <div class="feature" data-sr-id="7" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;">
        <i class="fa fa-viadeo" aria-hidden="true" /></i>
        <h4 class="feature-title">农业管理</h4>
        <p class="feature-content">
          对农田进行精确的监测和勘测，实现精准无人灌溉施肥等。
        </p>
      </div>
    </div>
  </section>
  <section id="showcases" class="showcases section-bg" style="background-color: #161616;">
    <h2 class="title1">适用人群</h2>
    <div class="showcases_container">
      <div class="row wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
          <img class="img-fluid rounded z-depth-2" src="https://static.sockboom.click/card-1.jpg" alt="project image">
        </div>
        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
          <div class="row mb-3" >
            <div class="col-1 mr-1" style="display: grid;">
              <i class="fa fa-trophy" aria-hidden="true" /></i>
            </div>
            <div class="col-10">
              <h5 class="font-bold">活动策划</h5>
              <p class="grey-text">
                为各类活动、庆典和活动等提供惊艳绝伦的无人机表演。
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1 mr-1 " style="display: grid;">
              <i class="fa fa-paper-plane" aria-hidden="true" /></i>
            </div>
            <div class="col-10">
              <h5 class="font-bold">摄影爱好者</h5>
              <p class="grey-text">
               轻松获取无与伦比的视角，无论是记录日常还是探索广阔山河，我们提供最精妙的服务。
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1 mr-1 special" style="display: grid;">
              
              <i class="fa fa-codiepie" aria-hidden="true" /></i> 
            </div>
            <div class="col-10">
              <h5 class="font-bold">农业专业人员</h5>
              <p class="grey-text">
               农田勘测、灌溉以及作物监测，提高农业生产效率，实现互联网+农业。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="btm">
    <div class="btm1">
      <a href="../index">首页</a>|
      <a href="../store">商城</a>|
      <a href="../chat">联系客服</a>|
      <a href="../profile">个人中心</a>
    </div>
    <p class="btm2">
      © 2023 DroTech 保留所有权利
      <br>
      京ICP备12345678号
      <br>
      京公网安备12345678901234号
    </p>
  </div>
</div>
