<title>商城</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
{% load static %}

<link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/style_store.css' %}" />
<link rel="stylesheet" href="{% static 'css/card_store.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/store.css' %}">

<div class="container">
  <header>
    <a href="../index">
        <img src="{% static 'images/logo.svg' %}"/>
    </a>

    <nav class="icon-img">
        <a>表演</a>
        <a>农业</a>
        <a>摄影</a>
    </nav>
  </header>
  <main>
    <div class="container_cus">
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <div class="top">
              <p>摄影</p><span></span>
              <img src="{% static 'images/摄影.svg' %}">
            </div>
            <div class="txt">
              <h4>航拍无人机</h4>
              <p class="explain">突破天际，航拍无人机，捕捉世界魅力。高空俯瞰，每一帧都是独特的故事，留下美丽的视角。</p>
              <p class="ps">$15&thinsp;起</p>
            </div>
          </div>
          <div class="backSide">
            <p class="title">摄影是诉说生活</p>
            <p class="title">追逐美好的灵魂之旅</p>
            <a href="../gooddetail">Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>

       
    </div>
  </main>
</div>


