<title>商城</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style_store.css' %}" />

<link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">


<div class="container">
  <header>
    <a href="../index">
        <img src="{% static 'images/logo.svg' %}"/>
    </a>

    <nav>
        <a>农业</a>
        <a>摄影</a>
    </nav>
  </header>
  <main>

  </main>

</div>

