<title>商城</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
{% load static %}

<link rel="icon" href="{% static 'images/UAV.svg'%}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/style_store.css' %}" />
<link rel="stylesheet" href="{% static 'css/card_store.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/store.css' %}">

<div class="container">
  <header>
    <a href="../index">
        <img src="{% static 'images/logo.svg' %}"/>
    </a>

    <nav class="icon-img">
      <a href="{% url 'store_filter' %}">全部</a>
      <a href="{% url 'store_filter' %}?category=表演">表演</a>
      <a href="{% url 'store_filter' %}?category=农业">农业</a>
      <a href="{% url 'store_filter' %}?category=摄影">摄影</a>
    </nav>
  </header>
  <main>
    <div class="container_cus">
      {% for drone in drones %}
        <div class="myCard">
          <div class="innerCard">
            <div class="frontSide">

              <div class="txt">
                <h4>{{ drone.name }}</h4>
                <div class="top">
                  <span></span><p class="tag">{{ drone.category }}</p><span></span>
                  
                  <img src="{% static 'images/摄影.svg' %}">
                </div>
                <p class="explain">{{ drone.explain }}</p>
                <p class="ps">{{ drone.ps }}</p>
              </div>
            </div>
            <div class="backSide">
              <p class="title">{{ drone.title1 }}</p>
              <p class="title">{{ drone.title2 }}</p>
              <a href="{% url 'gooddetail' drone.id %}">Read more</a>
            </div>
          </div>
        </div>
       {% endfor %}
       <!--
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">{{na}}</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="myCard">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">FRONT SIDE</p>
            <p>Hover Me</p>
          </div>
          <div class="backSide">
            <p class="title">BACK SIDE</p>
            <p>Leave Me</p>
            <a>Read more</a>
          </div>
        </div>
      </div> -->

       
    </div>
  </main>
</div>


